body {
    background: white;
    color: black;
    font-family: "Open Sans", sans-serif;
  }
  

   
 
  
  .headlink
  {
    color: black;
    padding-left: 10px;
    font-family: "Patrick Hand";
    font-weight: 500;
    font-size : 20px
  }
 

  
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
  }
  
  /* Back to top button */
  
  .back-to-top {
    position: fixed;
    display: none;
    background : black;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 20%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
  }
  
  .back-to-top i {
    padding-top: 12px;
    color: #fff;
  }
  
  /* Prelaoder */
  
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #E74C3C;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    /* -webkit-animation: animate-preloader 1s linear infinite; */
    animation: animate-preloader 1s linear infinite;
  }
  
  /* @-webkit-keyframes animate-preloader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  } */
  
  @keyframes animate-preloader {
    0% {
      /* -webkit-transform: rotate(0deg); */
      transform: rotate(0deg);
    }
  
    100% {
      /* -webkit-transform: rotate(360deg); */
      transform: rotate(360deg);
    }
  }
  

  .navbar-nav li.active > a {

    border: 3px solid black;
    border-radius: 0px 20px 0px 20px;
    
  }
  .slider-size {
    height: 220px; 
  }

  .hero-area {
    background-image: url("../img/poshwash5.JPG");
    background-size: cover;
    height: 100vh;
    position: relative;
    opacity: 1.2;
    /* display: -webkit-box; */
    /* display: -ms-flexbox; */
    display: flex;
    /* -webkit-box-pack: center; */
        /* -ms-flex-pack: center; */
            justify-content: center;
    /* -webkit-box-align: center; */
        /* -ms-flex-align: center; */
            align-items: center;
  }
  
  .hero-area:before {
    content: '';
    background: rgba(0, 0, 0, 0.63);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  
/* header */

#talkbubble {
  width: 100%;
  height: 120px;
  background: #3f51b5;
  position: relative;
  
  border-radius: 10px;
}
#talkbubble:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #3f51b5;
  border-bottom: 13px solid transparent;
}

  
  #header {
    padding: 30px 0;
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
  }
  
  #header.header-scrolled {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px 0;
    height: 72px;
    transition: all 0.5s;
  }
  
  #header #logo {
    float: left;
  }
  
  #header #logo img {
    padding: 0;
    margin: 0;
    height: 100px;
    width: 100px;
  }
  
/* Intro */




.logocls
{
  background: white
}






  /* Nav Menu Essentials */
  
  

  .headcls
  {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;

  
  }

  .headcls1
  {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-family: "Patrick Hand";
    font-size : 80px

  }
  
 
  

  /* Sections Header*/
  
  .section-header h3 {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
    padding-top: 40px;
  }
  
  .section-header p {
    text-align: center;
    padding-bottom: 30px;
    color: #333;
  }
  
  .section-bg1
  {
     background : white
  }
  
  /* Section with background*/
  
  .carocontent
{
  text-align: center;
  padding-top: 10%

}

  /* About Us Section*/
  #about {
    /* background: url("../img/headimg2.jpg") center top no-repeat fixed;
    background-size: cover; */
    background: #EAECEE;
    padding: 60px 0 20px 0;
    position: relative;
    /* background: #f7f7f7; */
    padding-top: 50px;
  }

  #about img
  {
    width: 340px;
    height: 320px;
    border-radius: 0px 25px 0px 25px;
    border:3px solid black;
  }
  
  
#about:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.aboutp
{
  color: white;
  font-size: 17px;
}

  

  
  .aboutcls
  {
    font-size: 32px;
    color:black ;
    text-transform: uppercase;
    font-weight: 100;
    position: relative;
    padding-bottom: 15px;
    padding-top: 10px;
    font-family: "Patrick Hand";
  
  }

  .contactcls
  {
    font-size: 32px;
    color: black;
    text-align: right; 
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
    padding-top: 10px;
    font-family: "Patrick Hand";
   

  }
/*
  #contact
  {
     background-image:url(../img/map3.JPG);
     z-index: 20; 
     background-size: cover;
  

  }*/




  .servicecls
  {
    font-size: 32px;
    color: black;
    text-transform: uppercase;
   
    font-weight: 100;
    position: relative;
    padding-bottom: 15px;
    padding-top: 10px;
    font-family: "Patrick Hand";
  }
  
  
  .img-responsive{
    display: block;
    max-width: 100%;
    height: 250px;
  }

  .img-responsive1
  {
    display: block;
    max-width: 100%;
    height: 100px;
  }

  .slider-size {
    height: 500px; 
  }
  
  
  .navbar-nav.navbar-center {
    position: relative;
    left: 50%;
    transform: translatex(-50%);
  }
  /* Contact Section
  /*--------------------------------*/
 /* .paddsection {
    padding: 30px 0;
    background: #fff;

  }*/

  .contact-details {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .contact-details li {
    padding-bottom: 10px;
  }

  #contact
  {
   background:  #EAECEE;
   padding-top: 50px;
  }
  
  #contact input, #contact textarea {
    width: 100%;
  }
  
  
  #contact  #sendmessage {
    color: #18d26e;
    border: 1px solid #18d26e;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin: 15px;
  }
  
  #contact  #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin: 15px;
  }
  
  #contact #sendmessage.show, #contact #errormessage.show, #contact .show {
    display: block;
  }
  
  #contact .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
  }
 
  
  /*Footer*/
  
  
  
  .navbar-nav > li{
    padding-left:20px;
  }
  

 
  
  @media (min-width: 1024px) {
    #header #logo {
      padding-left: 60px;
    }
  
    #intro p {
      width: 60%;
    }
  
 

    #nav-menu-container {
      padding-right: 60px;
    }
  }
  
  @media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  
    #header #logo h1 {
      font-size: 28px;
    }
  
    #header #logo img {
      max-height: 40px;
    }
  
    #intro h2 {
      font-size: 28px;
    }
  
    #nav-menu-container {
      display: none;
    }
  
    #mobile-nav-toggle {
      display: inline;
    }
   
  }


  .aboutimg-cls
  {

    height : 350px;
     width : 100%;
  }


  /* Services Section
--------------------------------*/

#services {
  background: #EAECEE;
  background-size: cover;
  padding: 30px 0 40px 0;
  padding-top: 50px;
}

#services img
{
  border:2px solid black;
  border-radius: 0px 25px 0px 25px;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 0 25px 0px 25px;
  width: 398px;
}

/* When you mouse over the container, fade in the overlay title */
#services:hover .overlay {
  opacity: 1;
}




.service-head
{
  font-family: "Patrick Hand";
  font-size: 30px;
}

#Gallery{
  background-color: #EAECEE;
  padding-top: 50px;

}

#Gallery img
 
  {
    width: 400px;
    height: 300px;
    border-radius: 0px 25px 0px 25px;
    border:3px solid black;

  }


#Gallery img:hover
{
transform: scale(1.1);
 background-color: black;
  opacity:0.7 !important;
  filter:alpha(opacity=70) !important; 
  box-shadow: 0 0 0px #000000 !important;

}

.form-control {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 5px;
  color:black;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  letter-spacing: 0.1em;
  padding-left: 10px;
  margin: 0 0 25px 0;
  line-height: 15px;
  text-transform: uppercase;
}

.form-control:focus {
  box-shadow: none;
  outline: 0 none;
}


.btn {
  background: black;
  border: medium none;
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  text-transform: uppercase;
}

.btn:hover, .btn:focus {
  color: grey;
}

.navigation {
  transition: .3s all;
}

.navigation .logo-default {
  display: none;
}

::placeholder { /* Most modern browsers support this now. */
  color:  black;
}

.bg-dark {
  background-color: #212529 !important;
}

.contacthead
{
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  position: relative;
  padding-bottom: 15px;
  padding-top: 40px;
}

.abouttxt
{
text-align: justify
}

.contactcir
{
  border-radius: 50%;
  height: 140px;
  background: rgb(157, 191, 71)
}



 
.nav.solid {
  /*background-image: url("../img/images12.jpeg") ;
     background-color: rgba(255,255,255,1);
    background-blend-mode: lighten;
 
   background-size: cover;*/
   background-color: white;
   transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}




