body {
    background:transparent;
    color: black  ;
    font-family: "Montserrat", sans-serif;
  }
  
  a {
    color:#3EC1D5;
    transition: 0.5s;
  }

   
  a:hover {
    color:#3EC1D5;
    text-decoration: none
  }
  
  
  .headlink
  {
    color: black;
    padding-left: 10px;
    font-family: "Lobster";
    font-weight: 500;
    font-size: 18px
  }
 
.iconColor
{
  color:black;

  
}
.iconColor:hover{
transform: scale(1.3);}
  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    /*margin: 0 0 20px 0;*/
    /*padding: 0;*/
  }
  
  /* Back to top button */
  
  .back-to-top {
    position: fixed;
    display: none;
    background : black;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 1;
    font-size: 20px;
    border-radius: 35%;
    right: 30px;
    bottom: 60px;
    transition: background 0.5s;
    z-index: 11;
  }
  
  .back-to-top i {
    padding-top: 12px;
    color: #fff;
  }
  
  /* Prelaoder */
  
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #E74C3C;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    /* -webkit-animation: animate-preloader 1s linear infinite; */
    animation: animate-preloader 1s linear infinite;
  }
  
  /* @-webkit-keyframes animate-preloader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  } */
  
  @keyframes animate-preloader {
    0% {
      /* -webkit-transform: rotate(0deg); */
      transform: rotate(0deg);
    }
  
    100% {
      /* -webkit-transform: rotate(360deg); */
      transform: rotate(360deg);
    }
  }
  

  .navbar-nav li.active > a {
   
  border-bottom: 3px solid black;
    
  }
/* header */

.logocls
{
  background: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
}

  #header {
    padding: 30px 0;  
    height: 92px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
  }
  
  #header.header-scrolled {
    background: rgba(0, 0, 0, 0.9);
    padding: 20px 0;
    height: 72px;
    transition: all 0.5s;
  }
  
  #header #logo {
    float: left;
  }
  
  #header #logo img {
    padding: 0;
    margin: 0;
    height: 100px;
    width: 100px;
  }
  
/* Intro */

.hero-area {
  background-image: url("../img/gal10.jpg");
  background-size: cover;
  height: 98vh;
  position: relative;

  /* display: -webkit-box; */
  /* display: -ms-flexbox; */
  display: flex;
  /* -webkit-box-pack: center; */
      /* -ms-flex-pack: center; */
          justify-content: center;
  /* -webkit-box-align: center; */
      /* -ms-flex-align: center; */
          align-items: center;
}


.hero-area:before {
  content: '';
  background: rgba(100, 100, 100, 0.10);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hero-area .block {
  color: #fff;
   width: 100%;
}

.hero-area .block h1 {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Lobster";
  color:#f24a52;
  width: 100%;

}

.hero-area .block p {
  font-size: 40px;
 font-weight: 300;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Lobster";
  color:#f24a52;
  width: 100%;
}

hr
{
  border-color: grey;
  margin-left: 300px;
  margin-right: 300px;
}


.logomar
{
  margin-top: 6%
}



  /* Nav Menu Essentials */
  
  

  .headcls
  {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;

  
  }

  .headcls1
  {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    width: 100%;

   
   

  }


  
  .logo-dec {
    color: #be9e21;
    }
  
 
  
 
  /* Sections Header*/
  
  .section-header h3 {
    font-size: 32px;
    color: #111;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    position: relative;
    padding-bottom: 15px;
    padding-top: 40px;
  }
  
  .section-header p {
    text-align: center;
    padding-bottom: 30px;
    color: #333;
  }
  
  .section-bg1
  {
     background : white
  }
  
  .othser
  {
    background: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
  }

  /* Section with background*/
  
  .section-bg {
    background: #f7f7f7;
  }

  .othserhead
  {
    color: white;
    font-size: 13px
  }

  .borderimg { 
    border: 10px solid transparent;
    padding: 15px;
    border-image-source: url('../img/border.png');  
    border-image-slice: 30;
  }

  .borderimg1 { 
    border: 10px solid transparent;
    border-image-source: url('../img/border.png');  
    border-image-slice: 30;
  }

  

  /* About Us Section*/
  #about {
    background-color: #f2dcd9;
    padding: 30px 0 40px 0;
    position: relative;

   /* background-color: #DEDE57;*/
   

   
  }

  #about p{
    color:black;
    font-family:  "Montserrat", sans-serif;
    
  }

  /**/

  #about img
  {
    height: 400px;
    width: 400px;
    border-radius: 0 25px 0px 25px;
    padding-top: 70px;


  }

  #about img:hover
  {
 transform: scale(1.06); 
  }
  
  
  
  .aboutcls
  {
    font-size: 25px;
    color:black;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
    position: relative;
    padding-bottom: 5px;
    padding-top: 20px;
    font-family: "Lobster";
  
  }

  
  
  /* Gallery Section
  --------------------------------*/
  
  #Gallery {
    /*padding: 30px 0;*/
    padding-bottom: 30px;
     background-color: #f2dcd9;
   /* background-image: url("../img/images12.jpeg") ;
     background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten; 
     background-size: cover;*/
    
  }


  #Gallery img {
    width: 305px;
    height: 300px;
    border-radius: 50%;
    border:1px solid black;
  }


  #Gallery img:hover{
transform: scale(1.1);
  }
  

.container{
 

}

.container .content {
 /* position: absolute;*/ /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  /* Full width */
  /* Some padding */
/*width: 90%;*/
}


 
.nav.solid {
  /*background-image: url("../img/images12.jpeg") ;
     background-color: rgba(255,255,255,1);
    background-blend-mode: lighten;
 */
  /* background-size: contain;*/
   background-color: white;
   transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
}

  

  /* Contact Section
  --------------------------------*/
  .paddsection {
    padding: 30px 0;

  }

  #contact {
   
   
     background-image: url("../img/gal13.jpg") ;
     background-color: rgba(255,255,255,0.1);
    background-blend-mode: lighten;
     background-size: cover;
  }
  
  .contact-details {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .contact-details li {
    padding-bottom: 10px;
  }
  
  #contact input, #contact textarea {
    width: 100%;
    border-color: black;

  }



  #contact button
  {
border-radius: 10px;


  }
  
 
  
  #contact  #sendmessage {
    color: #18d26e;
    border: 1px solid #18d26e;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin: 15px;
  }
  
  #contact  #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin: 15px;
  }
  /*
  #contact #sendmessage.show, #contact #errormessage.show, #contact .show {
    display: block;
  }*/
  
  #contact .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
  }


  .card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: white;
  width: 350px;
  height: 230px;
  border-radius: 10px;
  text-align: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.01);
}


  .card1 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #c2b8b7;
  width: 350px;
  height: 230px;
  border-radius: 10px;

  text-align: center;
}

#services h5{
  font-size: 20px;
  font-family:  "Montserrat", sans-serif;
}

/* Add some padding inside the card container */

 
  
  /*Footer*/
  
  
  
  .navbar-nav > li{
    padding-left:20px;
  }
  





  
  @media (min-width: 1024px) {
    #header #logo {
      padding-left: 60px;
    }
  
    #intro p {
      width: 60%;
    }
  
 

    #nav-menu-container {
      padding-right: 60px;
    }
  }
  
  @media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  
    #header #logo h1 {
      font-size: 28px;
    }
  
    #header #logo img {
      max-height: 40px;
    }
  
    #intro h2 {
      font-size: 28px;
    }
  
    #nav-menu-container {
      display: none;
    }
  
    #mobile-nav-toggle {
      display: inline;
    }
   
  }


  #services{
     background-image: url("../img/gal15.jpg") ;
     background-color: rgba(255,255,255,0.1);
    background-blend-mode: lighten;
    background-size: cover;
  }

.serviceh
{
  font-family: "Lobster"
}

.modalh
{
  font-family: "Lobster";
  color : white;
  font-size : 20px
}

.modalhead
{
  background: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
}


.form-control {
  background: transparent;
  border: 1px solid #999;
  border-radius: 10px;
  color: black;
  font-size: 12px;
  font-weight: 500;
  height: 50px;
  letter-spacing: 0.1em;
  padding-left: 10px;
  margin: 0 0 25px 0;
  line-height: 14px;
  text-transform: uppercase;
}

.form-control:focus {
  box-shadow: none;
  outline: 0 none;
}



.btn {
  background:black;
  border: medium none;
  border-radius: 20px;
  color: #fff;
  font-size: 12px;
  height: 50px;
  width: 10px;
  line-height: 50px;
  padding: 0 30px;
  text-transform: uppercase;
}

.btn:hover, .btn:focus {
  color: black;
}

.navigation {
  transition: .3s all;
}

.navigation .logo-default {
  display: none;
}


.bg-dark {
  background-color: #212529 !important;
}


.contactsubhead
{
  color: orangered;
  font-family: "Lobster"
}

.logo
{
  margin-top: 15px;
 margin-right: 100px;
  margin-left: 1px;
  font-size: 30px; 
  font-family: "Lobster";
}




#services p{
  font-family: "Lobster";
  font-size: 20px;
  padding-top: 15px;
}